.*.swp
.*.cfg
.*.pyc
*.o
*.d
*.exe
*.core
defaults.mk
*.files
*.config
*.includes
*.creator
*.user
*.bin
*.exo
*.prg
/*.cfg
/bin/
/lib/
/obj/
/test/
/dist/
/html/
html
src/bin/dos2ansi/decl.h
src/bin/dos2ansi/dos2ansi.exe.manifest
src/bin/dos2ansi/showansi
src/bin/dos2ansi/showansirc.sample
src/bin/dos2ansi/windres.rc
