.*.swp
.*.cfg
.*.pyc
*.o
*.d
*.exe
*.core
defaults.mk
*.files
*.config
*.includes
*.creator
*.user
*.bin
*.exo
*.prg
/*.cfg
/.path-cache
/bin/
/lib/
/obj/
/test/
/dist/
/html/
html
src/bin/dos2ansi/decl.h
src/bin/dos2ansi/dos2ansi.exe.manifest
src/bin/dos2ansi/help.h
src/bin/dos2ansi/windres.rc
src/bin/showansi/fonts.bitmap
src/bin/showansi/fonts.mixed
src/bin/showansi/fonts.scalable
src/bin/showansi/showansi
src/bin/showansi/showansirc.sample
debian/.debhelper/
debian/debhelper-build-stamp
debian/dos2ansi.substvars
debian/dos2ansi/
debian/files
