#!/usr/bin/make -f

export V=1
export COLORS=0
export prefix=/usr
export sysconfdir=/etc

stagedir=$$(pwd)/debian/dos2ansi
etcdir=/etc/dos2ansi
docdir=/usr/share/doc/dos2ansi

%:
	dh $@

execute_after_dh_install:
	mv $(stagedir)$(etcdir)/showansirc.sample \
		$(stagedir)$(etcdir)/showansirc
	rm $(stagedir)$(docdir)/LICENSE.txt
